body {
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
    margin: 30px;
}

h1 {
    color: #003366;
}

h2 {
    color: #0066cc;
}

a {
    color: #009933;
    font-weight: bold;
}
